@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');

:root {
    --primary: #07233C;
    --secondary: #1F384D;
    --secondary2:#385872;
    --neutral: #BFA276;
    --neutral2: #e0c39a;
    --light: #F6FAE5;
    --accent: #D0DF7C;
    --accent2: #DFE7B2;
    --error: #E24545;
    --gold: #D3B73D;
    --silver: #898D91;
    --bronze: #CD7F32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background: var(--light);
}

.body-page {
    margin-top: 120px;
    color: var(--secondary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    list-style-position: inside;
}

ol li {
    padding: 5px;
}

.index-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    background: var(--light);
    color: var(--secondary);
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    box-shadow: 0 3px 5px 3px rgba(7, 35 , 60, 0.5);
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--light);
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
    display: flex;
}

.logo img {
    width: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.logo span {
    color: var(--neutral);
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    transition: 0.4s ease;
    justify-content: center;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold !important;
    color: var(--light);
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3 ease;
    position: relative;
}

.index-login a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, var(--neutral), var(--neutral2));
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 21px;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    background: var(--light);
    border-radius: 10px;
    transition: all 0.4s ease;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.hero-logged-in {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero-logged-in h3 {
    color: var(--light);
}

.hero span, .hero-logged-in span {
    color: var(--neutral);
}

.hero-logged-in a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: bold !important;
    color: var(--light);
}

.hero-logged-in a span {
    color: var(--light);
}

.hero-logged-in a:hover {
    color: var(--neutral);
}

.index-container {
    padding: 0px 200px;
    color: var(--secondary);
}

.index-container p {
    font-weight: 600;
    padding: 25px;
    color: var(--primary);
    text-align: justify;
}

.index-container ul {
    text-align: center;
    list-style: none;
}

.index-container ul li {
    padding-bottom: 5px;
}

.index-container a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.index-container a:hover {
    color: var(--neutral);
}

.loader-overlay {
    position: fixed;
    background: var(--light);
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#loader-overlay {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loader-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

.loader {
    display: flex;
    width: 100px;
}

.loader span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary);
    margin: 0 3px;
    animation: loading 0.6s infinite ease-in-out;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/maltese_cross_no_background.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(15px);
}

.error-page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2em; 
    font-weight: bold;
    font-style: italic;
}

@keyframes loading {
    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.loader span:nth-child(2) {
    animation-delay: 0.12s;
}

.loader span:nth-child(3) {
    animation-delay: 0.24s;
}

a {
    color: var(--accent);
}

.divider {
    background: url("img/divider.svg") center / cover no-repeat;
    height: 50px;
}

.center {
    text-align: center !important;
}

.center img {
    border-radius: 15px;
    margin: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

figcaption {
    position: relative;
    top: -20px;
}

.top a {
    background: var(--neutral);
    width: 50px;
    display: inline-block;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 7px 15px 0px rgba(0, 0, 0, 0.5);
    ;
}

.top a:hover {
    transition: .5s;
    color: var(--light);
    transform: scale(1.2);
}

.top span {
    padding: 12px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: var(--light);
}

footer div {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

footer img {
    width: 50px;
    border-radius: 8px;
}

footer>div:first-child>p:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.footer-details {
    font-style: italic;
}

.footer-details a {
    letter-spacing: 1px;
}

.footer-details a:hover {
    color: var(--neutral);
}

.back {
    margin: 15px;
    text-align: center;
}

.back a {
    color: var(--primary) !important;
}

.back a:hover {
    color: var(--neutral) !important;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light);
}

.login-box {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    border-radius: 16px;
    padding: 32px;
    color: var(--light);
    box-shadow: 2px 3px 8px 0px var(--secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sekuya", system-ui;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px;
}

h1, h2, h3, h4, h5 {
    margin: 20px 20px 30px 20px;
}

h6 {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

video {
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.error {
    background: var(--error);
    color: var(--light);
    text-align: center;
    border-radius: 4px;
    margin: 10px auto;
    padding: 2px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.show {
    display: table-row-group !important;
    visibility: visible !important;
}

.next {
    width: 10%;
    text-align: center;
}

.next i:hover {
    color: var(--myred)
}

.prev {
    width: 10%;
    text-align: center;
}

.prev i:hover {
    color: var(--myred)
}

.subtitle {
    text-align: center;
    margin-bottom: 32px;
    animation: appear 3s ease-out;
}

.field {
    position: relative;
    margin-bottom: 24px;
}

.field input {
    width: 100%;
    height: 40px;
    background: transparent;
    color: var(--light);
    border: none;
    border-bottom: 2px solid var(--neutral);
    font-size: 16px;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: var(--light);
    transition: background-color 5000s ease-in-out 0s;
}

.form-style input:-webkit-autofill,
.form-style input:-webkit-autofill:hover,
.form-style input:-webkit-autofill:focus,
.form-style textarea:-webkit-autofill,
.form-style select:-webkit-autofill {
    -webkit-text-fill-color: var(--primary);
    transition: background-color 5000s ease-in-out 0s;
}


.field label {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.field input:focus {
    border-bottom-color: var(--neutral);
}

.field input:focus + label, .field input:valid + label {
    top: -14px;
    font-size: 13px;
    color: var(--neutral);
}

.btn {
    border-radius: 12px;
    border: 1px solid var(--neutral) !important;
    box-shadow: 3px 3px 0px 0px var(--neutral);
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    color: var(--accent);
    transition: all 0.3s ease;
    transform: translate(3px, 3px)
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 14px;
}

.options a {
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.options input {
    margin-right: 6px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: var(--light);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Sekuya", system-ui;
    letter-spacing: 3px;
}

button:hover {
    background: var(--neutral);
    transform: scale(1.05);
}

.signup {
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
}

.signup a {
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}

.grid-competitions {
    margin: 125px 50px;
    display: grid;
    grid-template-rows: 300px 200px;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.6s ease forwards;
    text-align: center;
}

.grid-competitions-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-competitions-box:nth-child(1) { grid-column: span 2; }
.grid-competitions-box:nth-child(2) { grid-column: span 2; }
.grid-competitions-box:nth-child(3) { grid-column: span 2; }
.grid-competitions-box:nth-child(4) { grid-column: span 3; }
.grid-competitions-box:nth-child(5) { grid-column: span 3; }

.grid-competitions-box img {
    height: 125px;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid var(--accent);
    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(
        -20deg,
        var(--light) 60%,
        var(--primary) 88%,
        var(--secondary) 40%,
        var(--neutral) 98%
    );
}

.flip-card-back {
    background: linear-gradient(
        -20deg,
        var(--light) 30%,
        var(--neutral) 88%,
        var(--primary) 100%,
        var(--light) 78%
    );
    color: var(--secondary) !important;
    transform: rotateY(180deg);
}

.flip-card-back div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
}

.flip-card-back div span {
    background: var(--primary);
    color: var(--light);
    border-radius: 8px;
    padding: 5px;
    font-style: italic;
}

.flip-card-back a {
    text-decoration: none;
    color: var(--secondary);
}

.flip-card-back img {
    width: 50px;
    height: auto;
}

.flip-card-back li {
    font-size: 12px;
    list-style: none;
}

.flip-card-back li span {
    font-style: italic;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.competition-logo {
    margin: 50px 50px 25px 50px;
    height: 150px;
}

.competitions {
    background: linear-gradient(to right, var(--neutral), var(--neutral2));
    border-radius: 8px;
    margin: 15px auto;
    padding: 15px;
    color: var(--secondary);
}

.competitions tr td {
    display: revert;
    padding: 5px;
    text-align: center;
}

.competition-box {
    width: 70%;
}

.carioca1 td,
.brasileiro1 td,
.carioca2 td,
.brasileirolib td,
.sula1 td,
.brasileiroprelib td,
.sula2 td,
.brasileirosul td,
.cariocareleg td,
.brasileiroreleg td {
    font-weight: bold;
    font-style: italic;
}

.carioca1 td:nth-child(1),
.brasileiro1 td:nth-child(1) {
    background: var(--gold);
    border-radius: 10px;
    border: solid 1px var(--light);
    font-weight: bold;
    font-style: italic;
}

.carioca2 td:nth-child(1),
.brasileirolib td:nth-child(1),
.sula1 td:nth-child(1) {
    background: var(--secondary);
    color: var(--light);
    border-radius: 10px;
    border: solid 1px var(--light);
    font-weight: bold;
    font-style: italic;
}

.brasileiroprelib td:nth-child(1),
.sula2 td:nth-child(1) {
    background: var(--secondary2);
    color: var(--light);
    border-radius: 10px;
    border: solid 1px var(--light);
    font-weight: bold;
    font-style: italic;
}

.brasileirosul td:nth-child(1) {
    background: var(--accent);
    border-radius: 10px;
    border: solid 1px var(--light);
    font-weight: bold;
    font-style: italic;
}

.cariocareleg td:nth-child(1),
.brasileiroreleg td:nth-child(1) {
    background: var(--error);
    color: var(--light);
    border-radius: 10px;
    border: solid 1px var(--light);
    font-weight: bold;
    font-style: italic;
}

table tr td {
    display: flex;
    justify-content: end;
    align-items: center;
}

tbody a {
    margin-left: 50px;
}

table h2, h4 {
    margin: 15px;
}

.open-btn {
    padding: 12px 20px;
    background-color: var(--secondary);
    color: var(--light);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.open-btn:hover {
    background-color: var(--primary);
}

.modal {
    background: rgba(7, 35, 60, 0.5);
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease;
}

.modal:target {
    transition: .5s;
    transform: scale(1.1);
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    width: 750px;
    padding: 20px;
    border: var(--accent) 1px solid;
    border-radius: 10px;
    color: var(--light);
    text-align: center;
    box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.6);
}

.player-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.foto {
    width: 30%;
    margin: 5px 2px;
    border-radius: 10px;
}

.player-details {
    margin: auto 5px;
}

.player-details span {
    font-weight: bold;
    font-style: italic;
    color: var(--neutral);
}

.player-details p {
    padding: 6px;
    text-align: left;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    padding: 10px 18px;
    background-color: var(--light);
    color: var(--secondary);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}

.close-btn:hover {
    background-color: var(--accent);
}

.game-fixtures {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.game-info-fixtures {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: relative;
    z-index: 2;
    color: var(--primary);
}

.info {
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.3px;
    text-transform: uppercase;
    margin: 0px 20px;
}

.score-fixtures {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    border-bottom: solid 1px var(--secondary);
}

.score-home {
    display: flex;
}

.score-home img {
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.team {
    margin-top: 5px;
    white-space: nowrap;
}

.home-team {
    margin-left: 8px;
}

.score-box {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

.goals {
    font-size: 1.3125em;
    font-style: normal;
    font-weight: 700;
}

.penalties-home {
    margin-left: 5px;
    font-size: .7em;
}

.penalties-away {
    margin-right: 5px;
    font-size: .7em;
}

.score-away {
    display: flex;
}

.score-away img {
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.away-team {
    margin-right: 8px;
}

.card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
    background: linear-gradient(rgba(7, 35, 60, 0.9), rgba(31, 56, 77, 0.7));
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.card-top {
    position: relative;
    margin: -20px;
    padding: 20px 0px;
    background-size: cover;
    background-position: center;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    font-size: 18px;
    color: var(--light);
}

.name span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

.details {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.details img {
    border: 2px solid var(--light);
    border-radius: 8px;
    height: 210px;
}

.watch-it {
    margin: 25px 0;
    border-radius: 12px;
    background: transparent;
    border: 1px solid var(--neutral);
    box-shadow: 3px 3px 0px 0px var(--neutral);
}

.watch-it a p {
    padding: 15px;
    text-align: center;
    color: var(--light);
}

.watch-it a p:hover {
    text-align: center;
    color: var(--accent);
}

.header-match {
    position: sticky;
    top: 86px;
    background: var(--neutral);
    color: var(--primary);
    z-index: 999;
    overflow: hidden;
}

.live::before {
    position: absolute;
    content: "";
    top: -123vh;
    left: -200px;
    width: 125%;
    height: 250vh;
    background: conic-gradient(var(--light), var(--error), var(--error), var(--light));
    filter: blur(20px);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.live::after {
    content: "";
    position: absolute;
    background: var(--neutral);
    inset: 2px;
    z-index: 1;
}

.form-style {
    width: 70%;
    padding: 20px;
    color: var(--secondary);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(var(--neutral), var(--neutral2));
}

.form-container-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(var(--neutral), var(--neutral2));
}

.field-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30%;
}

.field-container img {
    width:60px;
    height:80px;
    border-radius: 6px;
}

.label-field {
    display: block;
    width: 40%;
    font-weight: 600;
}

.input-field, .input-field input[type="text"] {
    display: block;
    width: 300px;
    height: 30px;
    background: var(--light);
    color: var(--primary);
    font-weight: 600;
    border-radius: 10px;
    padding: 8px;
    border: none;
    box-shadow: 9px 9px 10px #0000000d, 15px 10px 15px #00000006;
}

.input-field p {
    font-size: 14px;
}

.input-field input[type="radio"] {
    margin: 6px;
}

.input-field-select{
    height: 50px !important;
}

.input-field option, .input-field-select option {
    font-weight: 600;
}

.input-field-select option:disabled {
    color: var(--neutral);
}

.btn-form {
    margin: 6px;
    border: none;
    font-size: 12px;
    box-shadow: 9px 9px 10px #0000000d, 15px 10px 15px #00000006;
}

.btn-form:hover {
    background: var(--light);
}

.btn-form:disabled, .btn-form:hover:disabled  {
    cursor: not-allowed;
    transform: none;
    background: var(--neutral);
    color: var(--silver);
}

.form-actions {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.form-actions button {
        width: 25%;
    }

.months {
    width: 87%;
    height: 50%;
}

.months-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.months-field div {
    display: flex;
}

.months-field div p {
    padding: 20px;
    text-align: -webkit-center;
}

.months-field-short {
    display: none;
    visibility: hidden;
}

img, video {
    max-width: 95%;
    height: auto;
}

@media only screen and (max-width: 1220px) {
    .competition-box, .form-style {
        width: 85%;
    }
}

@media only screen and (max-width: 1000px) {
    .index-container {
        padding: 0px 50px;
    }

    .hero {
        transform: scale(0.8);
    }

    .hamburger {
        display: flex;
        z-index: 1100;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 35%;
        background: rgba(7, 35 ,60, 0.95);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        transition: right 0.5s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(4px, 8.5px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -8.5px);
    }

    .nav-links li a {
        font-size: 1.2rem;
    }

    .modal-content {
        transform: scale(0.8);
    }

    .competition-box, .form-style {
        width: 95%;
    }

    table h4 {
        margin: 6px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 760px) {
    .image {
        width: 70%;
    }

    footer p {
        transform: scale(0.85);
    }

    footer div {
        flex-direction: column;
        gap: 20px;
    }

    .modal-content {
        width: 550px;
    }

    .modal-content h2 {
        margin-top: 45px;
    }

    .form-style {
        width: 100%;
    }

    .player-info {
        flex-direction: column;
    }

    .field-container {
        margin: 0px;
    }

    .months {
        margin: auto;
    }
}

@media only screen and (max-width: 620px) {
    .navbar p, footer p {
        transform: scale(0.75);
    }

    .hero {
        transform: scale(0.65);
    }

    .hero-logged-in div,
    .hero-logged-in a {
    transform: scale(0.75);
}

    h1, h2, h3, h4, h5 {
        margin: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    .grid-competitions {
        display: flex;
        flex-direction: column;
    }

    table h4 {
        margin: 1px;
        font-size: 10px;
    }

    .form-container {
        align-items: center;
    }

    .input-field p {
        text-align: left;
    }

    .label-field {
        width: 100%;
        margin-bottom: 5px;
    }

    .field-container {
        display: block;
        text-align: center;
    }

    .form-actions {
        flex-direction: column;
    }

    .form-actions button {
        width: 100%;
    }

    .btn-form {
        font-size: 10px;
    }

    .footer div {
        padding: 4px;
    }

    .months {
        width: 100% !important;
    }

    .squad-text td {
        font-size: 14px;
    }

    .squad-text .open-btn {
        font-size: 12px;
    }

    .form-container-select .input-field,
    .field-container .input-field {
        margin: auto;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 560px) {
    .card {
        transform: scale(0.6);
    }

    figcaption {
        transform: scale(0.8);
    }

    .modal-content {
        width: 415px;
    }

    .hero-logged-in div:nth-child(1) {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 540px) {
    .hide-table {
        display: none !important;
        visibility: hidden !important;
    }

    .months {
        width: 350px !important;
    }

    .months-field-full {
        display: none;
        visibility: hidden;
    }

    .months-field-short {
        display: block;
        visibility: visible;
    }

    .form-container-select {
        display: block;
    }
}

@media only screen and (max-width: 476px) {
    .index-container {
        padding: 0px 25px;
    }

    .logo span {
        display: none;
    }

    .hero {
        transform: scale(0.55);
    }
}

@media only screen and (max-width: 424px) {
    .navbar {
        justify-content: flex-end;
    }

    .navbar .logo {
        display: none;
    }

    .nav-links li a {
        font-size: 1rem;
    }

    .hero {
        transform: scale(0.45);
    }

    .header-match {
        top: 56px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 12px;
    }

    .login-box {
        padding: 24px;
        margin: 0 15px;
    }

    .options {
        font-size: 12px;
    }

    video {
        width: 90%
    }

    .modal-content {
        width: 320px;
    }

    table h4 {
        font-size: 8px;
    }

    .label-field {
        font-size: 12px;
    }

    .input-field {
        width: 250px;
    }

    .input-field-select {
        height: 40px !important;
    }

    .input-field option {
        font-size: 10px;
    }

    .form-container-select button,
    .form-actions button {
        padding: 8px;
    }

    .competition-box {
        width: 95%;
    }

    .competitions tr td {
        font-size: 9px;
    }

    .game-fixtures span {
        font-size: 8px;
    }

    .months {
        width: 250px !important;
    }
}