@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    transition: 1s;
}

body {
    margin: 0;
    background: aliceblue;
}

.title {
    height: 300px;
    box-shadow: 0 5px 10px rgba(2, 18, 44, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 150px;
    padding: 25px 50px;
}

.logo h1 {
    font-size: 72px;
}

.knockout {
    display: flex;
    margin: 40px 30px 60px 30px;
}

.knockout h3 {
    font-size: 36px;
    width: 290px;
    position: absolute;
    top: 0;
    margin: 14px;
}

.knockout span {
    box-shadow: 14px 14px 17px rgba(0, 0, 0, 0.5);
}

.knockout span:hover {
    transform: scale(1.1);
}

ul {
    position: relative;
    display: flex;
    gap: 70px;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

ul li span {
    margin: 20px 10px;
    padding: 20px;
    font-size: 20px;
    font-family: "Science Gothic", sans-serif;
    font-weight: bold;
    font-style: normal;
    position: relative;
    top: 50px;
    width: 224px;
}

.watermark {
    font-size: 100px;
    margin: 3rem;
    position: absolute;
    top: 46%;
    left: 28%;
    z-index: -1;
    transform: rotate(300deg);
    -webkit-transform: rotate(1deg);
    color: #c6afaf;
    opacity: 0.3;
    filter: blur(2px);
}

.path2 {
    margin-top: 40px;
}

.path2 h3 {
    visibility: hidden;
    display: none;
}

.final h3 {
    text-align: center;
}

.path1 .r32,
.path1 .r16,
.path1 .qf {
    background: #0051FF;
    color: #fff;
    border-radius: 50px 50px 50px 0px;
}

.path1 .r32:nth-child(n+6):nth-child(-n+9),
.path1 .r16:nth-child(n+4):nth-child(-n+5),
.path1 .qf:nth-child(3) {
    background: #00EDB3;
    color: #000;
    border-radius: 50px 50px 50px 0px;
}

.path2 .r32,
.path2 .r16,
.path2 .qf {
    background: #00CC3D;
    color: #000;
    border-radius: 50px 50px 0px 50px;
}

.path2 .r32:nth-child(n+6):nth-child(-n+9),
.path2 .r16:nth-child(n+4):nth-child(-n+5),
.path2 .qf:nth-child(3) {
    background: #FF1300;
    color: #fff;
    border-radius: 50px 50px 0px 50px;
}

.path1 .sf,
.path2 .sf {
    background: #FE0061;
    color: #fff;
    border-radius: 50px 50px 50px 0px;
}

.path2 .sf:nth-child(2) {
    border-radius: 50px 50px 0px 50px;
}

.final .p34 {
    background: #FF8900;
    color: #000;
    border-radius: 50px 50px 50px 0px;
}

.final .f {
    background: #007BFF;
    color: #fff;
    border-radius: 50px 50px 50px 0px;
}

#final {
    height: 100%;
}

.matches {
    box-shadow: none !important;
    font-weight: normal;
    top: 0;
}

@media only screen and (max-width: 2042px) {
    ul {
        gap: 40px;
    }

    ul li span {
        font-size: 17px;
        width: 200px;
    }

    .watermark {
        font-size: 80px;
    }

    .knockout h3 {
        width: 280px;
        font-size: 32px;
    }
}

@media only screen and (max-width: 1786px) {
.title {
    height: 280px;
}

    .logo h1 {
        font-size: 66px;
    }

    .logo img {
        width: 140px;
    }

    .knockout h3 {
        width: 265px;
        font-size: 30px;
    }

    ul {
        gap: 20px;
    }

        ul li span {
        width: 170px;
        font-size: 14px;
    }

    .watermark {
        font-size: 70px;
    }
}

@media only screen and (max-width: 1536px) {
    .title {
        height: 270px;
    }
    
    .logo img {
        width: 135px;
    }

    .logo h1 {
        font-size: 54px;
    }

    .knockout h3 {
        width: 215px;
        font-size: 24px;
    }

    ul {
        gap: 5px;
    }

    ul li span {
        width: 160px;
        font-size: 13px;
    }

    .watermark {
        font-size: 65px;
        filter: blur(1px);
    }

    .final h3 {
        text-align: inherit;
    }
}

@media only screen and (max-width: 1380px) {
    ul li span {
        width: 145px;
        font-size: 12px;
    }

    .knockout h3 {
        width: 180px;
    }

    .knockout span {
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);;
    }

    .watermark {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1280px) {
    .title {
        height: 230px;
    }
    
    .logo img {
        width: 110px;
    }

    .logo h1 {
        font-size: 50px;
    }

    .knockout h3 {
        width: 150px;
        font-size: 20px;
    }

    ul {
        gap: 0px;
    }

    ul li span {
        width: 130px;
        font-size: 10px;
    }

    .watermark {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1180px) {
    ul li span {
        margin: 15px 10px;
        padding: 15px;
    }
}

@media only screen and (max-width: 1124px) {
    .logo h1 {
        font-size: 45px;
    }

    .knockout {
        margin: 25px 25px 60px 25px;
    }

    .knockout h3 {
        width: 140px;
    }

    ul li span {
        padding: 12px;
        width: 110px;
        font-size: 9px;
    }

    .watermark {
        font-size: 45px;
    }
}

@media only screen and (max-width: 956px) {
    .title {
        height: 170px;
    }

    .logo img {
        width: 80px;
    }

    .logo h1 {
        font-size: 36px;
    }

    .knockout {
        margin: 5px 5px 60px 5px;
    }

    .knockout h3 {
        width: 130px;
        font-size: 16px;
    }

    ul li span {
        margin: 10px;
        padding: 10px 0px 10px 12px;
        width: 100px;
    }

    .watermark {
        font-size: 35px;
        top: 48%;
        left: 25%;
    }
}

@media only screen and (max-width: 820px) {
    .logo h1 {
        font-size: 30px;
    }

    .title {
        width: 130%;
    }
}

@media only screen and (max-width: 640px) {
    .logo {
        justify-content: flex-start;
    }

    .logo h1 {
        font-size: 28px;
    }

    .logo img {
        width: 65px;
    }

    .title {
        width: 160%;
        height: 160px;
    }
}

@media only screen and (max-width: 512px) {
    .title {
        width: 182%;
    }

    .logo img {
        padding: 25px;
    }
}

@media only screen and (max-width: 448px) {
    .logo h1 {
        font-size: 25px;
    }

    .logo img {
        width: 60px;
        padding: 22px;
    }

    .title {
        height: 140px;
        width: 220%
    }
}

@media only screen and (max-width: 384px) {
    .title {
        width: 255%;
        height: 110px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .logo img {
        padding: 10px;
        margin-right: 25px;
    }
}
