@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    transition: 1s;
}

body {
    margin: 0;
    background: aliceblue;
}

.title {
    height: 300px;
    box-shadow: 0 5px 10px rgba(2, 18, 44, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 150px;
    padding: 25px 50px;
}

.logo h1 {
    font-size: 72px;
}

.groups {
    margin: 60px 0;
}

.groups-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.group-items {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 5px 9px rgba(2, 18, 44, 0.3);
    width: 1968px;
    position: relative;
    overflow: hidden; /*ensures it respects border-radius*/
}

.group-items::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;
    clip-path: path("M 0 0 L 0,170 A -11,-11 0,0,1 570,350 L 466 0 z");
    z-index: 0;
    transition: 1s;
}

.group-items > * {
    position: relative; /* ensures your content appears *above* the triangle */
    z-index: 1;
    padding: 12px;
}

#groupa.group-items::after{background: #68C076;}
#groupb.group-items::after{background: #EE1C24;}
#groupc.group-items::after{background: #E8EA7C;}
#groupd.group-items::after{background: #1768B4;}
#groupe.group-items::after{background: #F58021;}
#groupf.group-items::after{background: #006958;}
#groupg.group-items::after{background: #B0A7D1;}
#grouph.group-items::after{background: #56BCB6;}
#groupi.group-items::after{background: #4D3B98;}
#groupj.group-items::after{background: #F8AA9B;}
#groupk.group-items::after{background: #EF3875;}
#groupl.group-items::after{background: #7F011D;}

.group-items table {
    width: 1968px;
    display: table;
    padding: 0 25px;
}

.group-items thead {
    font-style: italic;
    font-weight: bold;
}

.group-items td{
    list-style: none;
    padding: 3px 20px;
    margin: 10px 25px;
    background: aliceblue;
    font-size: 30px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 1s;
}

.group-items h4 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
}


@media only screen and (max-width: 2042px) {
    .groups {
        margin: 40px;
    }

    .group-items {
        width: 1668px;
    }

    .group-items table {
        width: 1668px;
    }
}

@media only screen and (max-width: 1786px) {
    .groups {
        margin: 40px 20px;
    }

    .group-items {
        width: 1436px;
    }

    .group-items table {
        width: 1436px;
    }

    .group-items td {
        font-size: 26px;
        margin: 10px 15px;
    }
}

@media only screen and (max-width: 1536px) {
    .title {
        height: 270px;
    }
    
    .logo img {
        width: 135px;
    }

    .logo h1 {
        font-size: 60px;
    }

    .group-items {
        width: 1300px;
    }

    .group-items table {
        width: 1300px;
    }

    .group-items::after {
        clip-path: path("M 0 0 L 0,150 A -11,-10 36,0,1 570,350 L 466 0 z") ;
    }

    .group-items h4 {
        font-size: 32px;
    }

    .group-items td {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1380px) {
    .group-items {
        width: 1200px;
    }

    .group-items table{
        width: 1200px;
    }

    .group-items::after {
        clip-path: path("M 0 0 L 0,138 A -12,-10 43,0,1 570,381 L 466 0 z");
    }

    .group-items td {
        font-size: 22px;
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 1280px) {
    .title {
        height: 230px;
    }
    
    .logo img {
        width: 110px;
    }

    .logo h1 {
        font-size: 50px;
    }

    .group-items{
        width: 1080px;
        padding: 16px;
    }

    .group-items table{
        width: 1080px;
    }

    .group-items h4 {
        font-size: 28px;
    }

    .group-items td {
        font-size: 24px;
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 1180px) {
    .groups {
        margin: 40px 15px;
    }

    .group-items {
        width: 880px;
    }

    .group-items table{
        width: 880px;
    }

    .group-items::after {
        clip-path: path("M 0 0 L -5,143 A -14,-11 39,0,1 570,344 L 466 0 z")
    }

    .group-items td {
        font-size: 20px;
    }

    .group-items h4 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1124px) {
    .groups-section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 956px) {
    .title {
        height: 180px;
    }

    .logo img {
        width: 80px;
    }

    .logo h1 {
        font-size: 36px;
    }

    .group-items {
        width: 760px;
    }

    .group-items table {
        width: 760px;
    }
}

@media only screen and (max-width: 820px) {
    .logo h1 {
        text-align: center;
    }

    .group-items {
        width: 570px;
    }

    .group-items table {
        width: 570px;
        padding: 0 12px;
    }

    .group-items td {
        font-size: 14px;
        padding: 3px 18px;
    }
}

@media only screen and (max-width: 640px) {
    .group-items {
        width: 450px;
        margin: 16px;
    }

    .group-items table {
        width: 450px;
    }

    .group-items td {
        font-size: 12px;
    }

    .group-items td:nth-child(1), td:nth-child(4) {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 512px) {
    .title {
        height: 160px;
    }

    .logo img {
        width: 70px;
    }

    .logo h1{
        font-size: 30px;
    }

    .groups {
        margin: 25px 15px;
    }

    .group-items {
        width: 390px;
    }

    .group-items h4 {
        font-size: 20px;
    }

    .group-items table {
        width: 390px;
    }

    .group-items td:nth-child(10) {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 448px) {
    .logo h1 {
        font-size: 30px;
    }

    .group-items {
        width: 320px;
    }

    .group-items table{
        width: 320px;
    }

    .group-items td{
        font-size: 10px;
        padding: 3px 14px;
    }
}

@media only screen and (max-width: 384px) {
    .title {
        height: 130px;
    }

    .logo h1 {
        font-size: 16px;
    }

    .logo img {
        width: 45px;
        padding: 20px;
    }

    .group-items > * {
        padding: 0px;
    }

    .group-items {
        width: 260px;
    }

    .group-items table {
        width: 260px;
        padding: 0px;
    }

    .group-items td {
        font-size: 8px;
        padding: 3px 12px;
    }
}
